pkgbase = opentubex
	pkgdesc = A highly customizable, privacy-focused desktop YouTube client
	pkgver = 0.30.2
	pkgrel = 1
	url = https://opentubex.org
	arch = any
	license = AGPL-3.0-or-later
	makedepends = git
	makedepends = npm
	makedepends = pnpm
	depends = electron43
	source = opentubex-0.30.2.tar.gz::https://github.com/OpenTubeX/OpenTubeX/archive/refs/tags/v0.30.2-beta.tar.gz
	source = opentubex.desktop
	source = opentubex.sh
	sha256sums = 805df902be7cea3d34b651a739a73b8d985fd11fe7d414d963a5ef2df190f207
	sha256sums = 63154cb6dd377c8d70714bb858405f95d88a849815d86bf7cf1b6b344cc54b5d
	sha256sums = ed9c3c54f5604389cac2e53df7f917ce6952a870abc409464e5b8ba590ca3d07

pkgname = opentubex
